/*
 * jquery.popeye.style.css 2.1
 *
 * Example styles for jQuery.popeye
 *
 * Copyright (C) 2011 Christoph Schuessler (schreib@herr-schuessler.de)
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 */
.ppy-imglist {
  display: block;
  overflow: hidden;
  width: 100%;
}

.ppy-imglist li {
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  float: left;
  list-style: none;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.ppy-imglist li a img {
  border: 0;
  display: block;
}

.theme-dark.ppy-active {
  float: left;
  margin: 0 20px 10px 0;
  width: 240px;
}

.theme-dark .ppy-stage {
  cursor: pointer;
  height: 180px;
  overflow: hidden;
  width: 240px;
}

.theme-dark .ppy-stagewrap {
  background: #333;
}

.theme-dark .ppy-caption {
  border-bottom: 1px solid #ddd;
  color: #666;
  font-size: .9em;
  height: 60px;
  line-height: 1.3em;
  margin: 10px 0 0 0;
  overflow: auto;
  padding: 0 5px 3px 0;
}

.theme-dark.ppy-expanded .ppy-caption {
  background: #666;
  border-bottom: 1px solid #333;
  color: #fff;
  margin: 0;
  padding: 10px;
}

.theme-dark .ppy-counter {
  background: #333;
  bottom: 0;
  color: #fff;
  font-size: .8em;
  left: 0;
  opacity: 0.7;
  padding: 0 5px;
  position: absolute;
}

.theme-dark .ppy-loading {
  background: #333 url(../gfx/loading3.gif) no-repeat center!important;
}

.theme-dark .ppy-nav {
  background: #333;
  background: rgba(51,51,51,0.7);
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,rgba(51,51,51,1)),color-stop(0.4,rgba(51,51,51,0.7)),color-stop(0.6,rgba(51,51,51,0.7)),color-stop(1,rgba(51,51,51,1)));
  background: -moz-linear-gradient(center bottom,rgba(51,51,51,1) 0%,rgba(51,51,51,0.7) 40%,rgba(51,51,51,0.7) 60%,rgba(51,51,51,1) 100%);
  height: 100%;
  text-align: center;
  width: 100%;
}

.theme-dark .nav-wrap {
  height: 32px;
  margin: 0 auto;
  padding: 30% 0 0 0;
  width: 104px;
}

.theme-dark .ppy-nav a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  float: left;
  height: 22px;
  overflow: hidden;
  padding: 5px;
  text-indent: -900em;
}

.theme-dark .ppy-prev {
  background: url(../gfx/prev3.png) no-repeat center;
  width: 22px;
}

.theme-dark .ppy-next {
  background: url(../gfx/next3.png) no-repeat center;
  width: 22px;
}


.theme-dark .ppy-switch-enlarge {
  background: url(../gfx/enlarge3.png) no-repeat center;
  width: 30px;
}

.theme-dark .ppy-switch-compact {
  background: url(../gfx/compact3.png) no-repeat center;
  width: 30px;
}

.theme-dark .ppy-play {
  background: url(../gfx/play3.png) no-repeat center;
  width: 22px;
}

.theme-dark .ppy-pause {
  background: url(../gfx/pause3.png) no-repeat center;
  width: 22px;
}

.theme-dark .ppy-nav a:hover {
  background-color: #333;
  cursor: pointer;
}
