/*
 * jquery.popeye.style.css 2.1
 *
 * Example styles for jQuery.popeye
 *
 * Copyright (C) 2011 Christoph Schuessler (schreib@herr-schuessler.de)
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 */
.ppy-imglist {
  display: block;
  overflow: hidden;
  width: 100%;
}

.ppy-imglist li {
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  float: left;
  list-style: none;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.ppy-imglist li a img {
  border: 0;
  display: block;
}

.theme-default .ppy-extcaption {
  display: block;
  width: 240px;
}

.theme-default .ppy-imglist li {
  height: 270px;
  width: 240px;
}

.theme-default.ppy-active {
  float: left;
  margin: 0 20px 10px 0;
  width: 262px;
}

.theme-default .ppy-outer {
  background: #eff9c7;
  border: 1px solid #e1f1a1;
  border-radius: 0 10px 10px 10px;
  -moz-border-radius: 0 10px 10px 10px;
  -webkit-border-radius: 0 10px 10px 10px;
  padding: 10px;
}

.theme-default .ppy-stage {
  border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  cursor: pointer;
  height: 173px;
  width: 240px;
}

.theme-default .ppy-outer:hover,
.theme-default.ppy-expanded .ppy-outer {
  border: 1px solid #d5e68e;
  box-shadow: 0 0 7px #ccc;
  -moz-box-shadow: 0 0 7px #ccc;
  -webkit-box-shadow: 0 0 7px #ccc;
}

.theme-default .ppy-caption {
  background: #eeffa8;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 0 7px #ccc;
  -moz-box-shadow: 0 0 7px #ccc;
  -webkit-box-shadow: 0 0 7px #ccc;
  color: #809f21;
  font-size: .9em;
  line-height: 1.3em;
  margin: 5px 0 0 0;
  padding: 10px;
  visibility: hidden;
}

.theme-default .ppy-caption a {
  color: #66bde9;
}

.theme-default .ppy-caption a:hover {
  text-decoration: underline;
}

.theme-default .ppy-counter {
  border-bottom: 1px solid #d5e68e;
  color: #b8cf5a;
  font-size: .9em;
  margin: 0 0 5px 0;
  padding: 0 0 2px 0;
}

.theme-default .ppy-stagewrap {
  background: #0c3b3d;
  border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
}

.theme-default .ppy-loading {
  background: #0c3b3d url(../gfx/loading1.gif) no-repeat center!important;
}

.theme-default .ppy-nav {
  background: #0c3b3d;
  background: -moz-linear-gradient(center bottom,rgb(12,59,61) 0%,rgb(58,131,133) 100%);
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  height: 32px;
  left: 0;
  padding: 5px;
  position: absolute;
  top: 0;
  width: 104px;
}

.theme-default .ppy-nav a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  float: left;
  height: 22px;
  overflow: hidden;
  padding: 5px;
  text-indent: -900em;
}

.theme-default .ppy-prev {
  background: url(../gfx/prev3.png) no-repeat center;
  width: 22px;
}

.theme-default .ppy-next {
  background: url(../gfx/next3.png) no-repeat center;
  width: 22px;
}

.theme-default .ppy-switch-enlarge {
  background: url(../gfx/enlarge3.png) no-repeat center;
  width: 30px;
}

.theme-default .ppy-switch-compact {
  background: url(../gfx/compact3.png) no-repeat center;
  width: 30px;
}

.theme-default .ppy-nav a:hover {
  background-color: #a1c436;
  cursor: pointer;
}
