/*
 * jquery.popeye.style.css 2.1
 *
 * Example styles for jQuery.popeye
 *
 * Copyright (C) 2011 Christoph Schuessler (schreib@herr-schuessler.de)
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
*/
.ppy-imglist {
  display: block;
  overflow: hidden;
  width: 100%;
}

.ppy-imglist li {
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  float: left;
  list-style: none;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.ppy-imglist li a img {
  border: 0;
  display: block;
}

.theme-blue.ppy-active {
  margin: 0 0 10px 20px;
  width: 224px;
}

.theme-blue .ppy-outer {
  padding: 0 46px 0 0;
}

.theme-blue .ppy-stagewrap {
  background: #c1eaff;
  background: rgba(193,234,255,0.7);
  border-radius: 5px 0 5px 5px;
  -moz-border-radius: 5px 0 5px 5px;
  -webkit-border-radius: 5px 0 5px 5px;
  padding: 7px;
}

.theme-blue .ppy-stage {
  background-color: #777;
  border: 2px solid #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
  height: 160px;
  width: 160px;
}

.theme-blue .ppy-counter {
  background: #fff;
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -khtml-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  bottom: 0;
  color: #333;
  font-size: .8em;
  opacity: 0.7;
  padding: 0 5px;
  position: absolute;
  right: 0;
}

.theme-blue .ppy-loading {
  background-image: url(../gfx/loading2.gif);
  background-position: center;
  background-repeat: no-repeat;
}

.theme-blue .ppy-nav {
  background: #76c6ee;
  background: -webkit-gradient(linear,left top,right bottom,color-stop(0,rgb(118,198,238)),color-stop(1,rgb(45,158,214)));
  background: -moz-linear-gradient(left top,rgb(118,198,238) 0%,rgb(45,158,214) 100%);
  border-left: 1px solid #6ab1d5;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  position: absolute;
  right: 0;
  top: 4px;
  width: 45px;
}

.theme-blue .nav-wrap {
  padding: 5px 0;
}

.theme-blue .ppy-nav a {
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  display: block;
  height: 22px;
  overflow: hidden;
  padding: 5px;
  text-indent: -900em;
  width: 30px;
}

.theme-blue .ppy-prev {
  background: url(../gfx/prev3.png) no-repeat center;
}

.theme-blue .ppy-next {
  background: url(../gfx/next3.png) no-repeat center;
}

.theme-blue .ppy-switch-enlarge {
  background: url(../gfx/enlarge4.png) no-repeat center;
}

.theme-blue .ppy-switch-compact {
  background: url(../gfx/compact4.png) no-repeat center;
}

.theme-blue .ppy-nav a:hover {
  background-color: #378eba;
  cursor: pointer;
  opacity: 0.8;
}
